body{
    margin: 0;
    padding: 0;
}
.cover{
    color: #EEE;
    width: 100%;
    height: 350px;
    background-color: bisque;
    background-image: url(images/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 98px;
    text-transform: capitalize;
    line-height: 154px;
    background-attachment: fixed
}

p{
    margin-top:0;
}

.navbar{
    height: 48px;
    background-color: #333;
    
}

.content{
    background-color: #EEE;
}

ul{
    list-style-type: none;
    margin:0;
}

li{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: #EEE;
}
.brand{
    font-weight: bold;
    font-size: 20px;
    padding: 0;
}
.goright{
    position: relative;
    left: 969px;
}

img{
    height: 256px;
    width: 340px;
    margin: 15px 50px;
    border: 1px solid #afadad;
}

td{
    margin:10px;
}

h4{
    padding: 14px; margin:0;
}

.footer{
    background-color: #333;
    color:#eee;
    height: 50px;
    text-align: center;
    text-transform: capitalize;
    
}
